{
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            1, "single"
        ],
        "linebreak-style": [
            2, "unix"
        ],
        "semi": [
            2, "always"
        ],
        "no-unused-vars": [
            1, {
                "vars": "all",
                "args": "none"
            }
        ],
        "no-fallthrough": [1]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "mocha": true,
        "amd": true,
        "jquery": true
    }
}
